<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sign Up - CMBank</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Open a new bank Account</h1>
		</div>
		<form th:action="@{/process_openaccount}" th:object="${bankaccount}"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">E-mail: </label>
					<div class="col-8">
						<input type="email" th:field="*{email}" class="form-control"
							required />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Account Type : </label>
					<div class="col-8">

						<select th:field="*{accounttype}">
							<option th:value="'Current'" th:text="Current"></option>
							<option th:value="'Saving'" th:text="Saving"></option>
						</select>

					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">PAN Number </label>
					<div class="col-8">
						<input type="text" th:field="*{pannumber}" class="form-control"
							required minlength="2" maxlength="20" />
					</div>
				</div>

				<div>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>